.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 1000;
}

.modal-overlay.show {
  display: flex;
  pointer-events: none;
}

.modal {
  position: absolute;
  background-color: white;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  background-color: #f100bd;
  color: orange;
  font-weight: bold;
  transition: transform 0.2s;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: none;
  position: absolute;
  z-index: 1001;
  pointer-events: auto;
}

.modal.show {
  display: block;
}

.modal-content {
  background: rgba(255, 255, 255, 0.822);
  padding: 20px;
  border-radius: 5px;
  position: relative;
  pointer-events: auto;
}

.close-button {
  position: absolute;
  color: red;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 32px;
  cursor: pointer;
  z-index: 1002;
  font-weight: bold;
}

.sort-by-title {
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 10px;
}

.radio {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px;
  align-items: center;
}

.radio-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 70px;
}

.radio-label input[type="radio"] {
  margin-right: 10px;
  padding-right: 10px;
}

.apply-button {
  background-color: #007bff;
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.2s;
}

.apply-button:hover {
  background-color: #0056b3;
}

.custom-modal {
  width: 300px;
  height: auto;
}
