.stay-in-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.venture-box {
    position: relative;
    text-align: center;
}

.title {
    font-family: 'BrightDEMO';
    font-size: 6rem;
    color: #f100bd;
    position: relative;
    margin-top: 0;
    margin-bottom: 65px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.centered-dropdown {
    text-align: center;
    margin-bottom: 10px;
}

.results-title {
    font-family: 'BrightDEMO';
    font-weight: bold;
    font-size: 3rem;
    color: #000000;
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 0;
}

label, select {
    font-family: 'Athena';
}

@font-face {
    font-family: 'BrightDEMO';
    src: url('../fonts/BrightDEMO.otf') format('opentype');
}

@font-face {
    font-family: 'Milestone';
    src: url('../fonts/MilestoneFreeVersion-Script.otf') format('opentype');
}

@font-face {
    font-family: 'Athena';
    src: url('../fonts/Athena-Regular\ \(PERSONAL\ USE\ ONLY\).ttf') format('opentype');
}
